<a href="https://colab.research.google.com/github/pranjal272/Practice/blob/main/hdsc_fuel_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
data=pd.read_csv(url)

displays all columns

In [ ]:
pd.set_option('display.max_columns', None)
data.tail()

In [ ]:
data.describe(include='all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2010_12_42_3_4  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [ ]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
data.groupby('fuel_unit').first()

                         record_id  ...  fuel_cost_per_mmbtu
fuel_unit                           ...
bbl          f1_fuel_1994_12_6_0_2  ...                5.469
gal        f1_fuel_2000_12_20_0_10  ...                8.324
gramsU       f1_fuel_1994_12_9_0_8  ...                0.679
kgU          f1_fuel_1994_12_2_1_1  ...                0.450
mcf         f1_fuel_1994_12_2_0_10  ...                2.570
mmbtu       f1_fuel_1994_12_46_1_7  ...                1.170
mwdth      f1_fuel_1994_12_17_2_14  ...                0.476
mwhth       f1_fuel_1994_12_63_0_2  ...                1.114
ton          f1_fuel_1994_12_1_0_7  ...                1.121

[9 rows x 10 columns]

first val of every col in that group

In [ ]:
data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11534
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

**data.groupby('fuel_unit')** ['fuel_unit'] - display only fuel_unit col

In [ ]:
data.groupby('fuel_unit').count()

           record_id  ...  fuel_cost_per_mmbtu
fuel_unit             ...
bbl             7998  ...                 7998
gal               84  ...                   84
gramsU           464  ...                  464
kgU              110  ...                  110
mcf            11534  ...                11534
mmbtu            180  ...                  180
mwdth             95  ...                   95
mwhth            100  ...                  100
ton             8958  ...                 8958

[9 rows x 10 columns]

This was done to see which value has maximum number of count i.e it appears frequently and we can see mcf has 11354 most number of values

In [ ]:
data['fuel_unit'].fillna(value='mcf')

This fills data for that time only

In [ ]:
data.isnull().sum()

This will still display same null values as it were at the start thus, we write it as **data['fuel_unit']** = data['fuel_unit'].fillna(value='mcf')

In [ ]:
data['fuel_unit']=data['fuel_unit'].fillna(value='mcf')

In [ ]:
data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

reset index(drop): resets index to default integer index

In [ ]:
df1=data.iloc[0:19000].reset_index(drop=True)
df2=data.iloc[19000:].reset_index(drop=True)

assert continues to run program when true if false gives assertion error

In [ ]:
assert len(data) == len(df1) + len(df2)

In [ ]:
df2.head(5)

                 record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_2009_12_79_0_2  ...               11.341
1   f1_fuel_2009_12_79_0_4  ...                1.108
2   f1_fuel_2009_12_79_0_5  ...                6.238
3   f1_fuel_2009_12_79_0_7  ...                4.885
4  f1_fuel_2009_12_79_0_10  ...                5.383

[5 rows x 11 columns]

In [ ]:
res=pd.merge(df1,df2,how="right")
res.head(5)

                 record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_2009_12_79_0_2  ...               11.341
1   f1_fuel_2009_12_79_0_4  ...                1.108
2   f1_fuel_2009_12_79_0_5  ...                6.238
3   f1_fuel_2009_12_79_0_7  ...                4.885
4  f1_fuel_2009_12_79_0_10  ...                5.383

[5 rows x 11 columns]

In [ ]:
data.duplicated().any()

False

duplicated(subset,keep)

**subset** : column acc to which duplicated values are to be found

**keep**: 

*   **first(default)** - first value is considered unique and all other similar values are considered.
*   **last**- last value is considered as unique and rest as duplicates

*  **false**- all similar values are considered as duplicates








concatenation

In [ ]:
pd.concat([fuel_data, data_to_concat]).reset_index(drop=True)